@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
}

body {
    background-color:black;
}

#wrapper {
    background-color: yellowgreen;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#gameTitle {
    text-align: center;
    font-family: monospace;
    color: white;
    background-color: rgb(108, 196, 23);
    font-size: 250%;
    height: 140px;
    padding-bottom: 1em;
    text-decoration: underline;
    border-top: double 20px #fcf9e3;
    border-right: double 20px #fcf9e3;
    border-left: double 20px #fcf9e3;
    border-bottom: double 20px #fcf9e3;
}


#gameplay {
    text-align: center;
    height: 500px;
    font-size: 100%;
    color: whitesmoke;
    background-color: black;
    padding: 2.5em;
    margin: 20px 20px 0px 5px;
    border-top: 4mm ridge hsla(0,0%,90%,0.9);
    border-right: 2mm ridge hsla(0,0%,90%,0.9);
    border-left: 2mm ridge hsla(0,0%,90%,0.9);
    border-bottom: 4mm ridge hsla(0,0%,90%,0.9);
}

#color1 {
    background-color: #ff0000;
    width: 4em;
}
#color2 {
    background-color: #FFC0CB;
    width: 4em;
}
#color3 {
    background-color: #0000FF;
    width: 4em;
}
#color4 {
    background-color: #00FF00;
    width: 4em;
}
#submit {
    font-weight: bold;
    font-size: 1em;
    width: 7em;
}

#footer {
    text-align: center;
    font-family: monospace;
    color: black;
    background-color: rgb(108, 196, 23);
    font-size: 250%;
    height: 140px;
    padding-bottom: 1em;
    text-decoration: underline;
    border-top: double 20px #fcf9e3;
    border-right: double 20px #fcf9e3;
    border-left: double 20px #fcf9e3;
    border-bottom: double 20px #fcf9e3;
}

@media screen and (max-width: 800px) {
    .col {
        display: block;
        width: 100%;
    }

    #wrapper {
        width: 100%;
    }

}



#button {
    height: 50px;
    width: 100px;
    font-size: 70%;
    text-align: center;
}

.display {
    display:initial;
}

.hide {
    display:none;
} 

#formatText1 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 4em;
}

#formatImage1 {
    float: left;
    width: 50%;
    text-align: center;
}

#formatText2 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 4em;
}

#formatImage2 {
    float: left;
    width: 50%;
    text-align: center;
}

#formatText3 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 4em;
}

#formatImage3 {
    float: left;
    width: 50%;
    text-align: center;
}

#formatText4 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 4em;
}

#formatImage4 {
    float: left;
    width: 50%;
    text-align: center;
}

#formatText5 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 4em;
}

#formatImage5 {
    float: left;
    width: 50%;
    text-align: center;
}

#formatText6 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 4em;
}

#formatImage6 {
    float: left;
    width: 50%;
    text-align: center;
}

#formatText7 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 4em;
}

#formatImage7 {
    float: left;
    width: 50%;
    text-align: center;
}